<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- standard configuration sections items. -->
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>
        <!-- Console Appender-->
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelMatchFilter">
                <levelToMatch value="ERROR"/>
            </filter>
            <threshold value="ERROR"/>
        </appender>

        <!-- File Appender -->
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="app.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="3" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level %logger.%method - %message%newline" />
            </layout>
        </appender>



        <!-- Setup the root category, add the appenders and set the default level
             Comment out those appenders you don't want-->
        <root>
            <level value="ALL" />
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="RollingFileAppender"/>
        </root>
        <!-- Layout Pattern format expressions
        See http://www.beefycode.com/post/log4net-tutorial-pt-4-layouts-and-patterns.aspx or http://www.codeproject.com/Articles/140911/log-net-Tutorial
        Note that single character notation is now deprecated
        
        %appdomain  the friendly name of the appdomain from which the log entry was made
        %date	      the local datetime when the log entry was made
        %utcdate	  the UTC datetime when the log entry was made
        %exception	a formatted form of the exception object in the log entry, if the entry contains an exception; otherwise, this format expression adds nothing to the log entry
        %file	      the file name from which the log entry was made; note that using %file has a significant performance impact and I don't recommend using it
        %level	    the severity level of the log entry (DEBUG,INFO, etc)
        %line	      the source code line number from which the log entry was made; slow
        %location	  some rudimentary call stack information, including file name and line number at which the log entry was made; using
        %logger	    the name of the logger making the entry; more on this in a bit
        %method	    the name of the method in which the log entry was made; also slow
        %message	  the log message itself (don't forget this part!)
        %newline	  the value of Environment.NewLine
        %timestamp	the milliseconds between the start of the application and the time the log entry was made
        %type	      the full typename of the object from which the log entry was made
        %username	  the Windows identity of user making the log entry; slow
        %identity	  the user name of the active user logging the entry; this one is less reliable than %username; note that using %identity has a significant performance impact and I don't recommend using it
        %thread     This will give you the name of the thread that the entry was made on (or the number if the thread is not named).
        %%	        a percent sign (%)
        
        numbers in the pattern e.g. %-5level
        x   = minimum number of charters, padded to the left        e.g. %6level = "  INFO"
        -x  = minimum number of charters, padded to the right       e.g. %-6level = "INFO  "
        .x  = maximum number of characters, truncated from the left e.g. %.4level = "RROR" (instead of "ERROR")
        -->
    </log4net>
</configuration>